<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="NetStandardPort-System.ComponentModel.Design.Serialization" version="4.4.0-preview03" targetFramework="net47" />
  <package id="NetStandardPort-System.Workflow.Activities.Rules" version="4.4.0-preview03" targetFramework="net47" />
  <package id="NetStandardPort-System.Workflow.ComponentModel.Serialization" version="4.4.0-preview03" targetFramework="net47" />
  <package id="System.CodeDom" version="4.4.0" targetFramework="net47" />
</packages>